$mainColor: rgb(0, 0, 87);
$width: 768px;
$between: 1550px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin between {
  @media (min-width: #{$width + 1px}) and (max-width: #{$between}) {
    @content;
  }
}


